@import url('https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display&display=swap');

body{
    font-family: 'Merriweather', serif;
}

h1, h2, h3, h4{
    font-family: 'Playfair Display', serif;
}

.jumbotron{
    background-image: url('../img/jumbotron.jpg');
    background-size: cover;
    height: 75vh;
    color: #ffffff;
}
span.text{
    color:black;
    position: absolute;
    right: 79%;
    font-size: 4rem;
}
.active{
    color: #27221d;
}
.text-uppercase{
    font-size: 10rem;
    margin-top: -1%;
    border-bottom:2px black solid;
    
}
