@import url('https://fonts.googleapis.com/css?family=Merriweather|Playfair+Display&display=swap');

body{
    font-family: 'Merriweather', serif;
    background-image: url(../img/patter0.1.jpg);
}

h1, h2, h3, h4{
    font-family: 'Playfair Display', serif;
}

.jumbotron{
    background-image: url('../img/main.jpg');
    background-size: cover;
    height: 100vh;
    color: #ffffff;
}
span.text-uppercase{
    color: red;
}
.active{
    color: #27221d;
    background-color:red;
}